@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply lg:px-32 md:px-10 px-5;
  }
}
body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
